body {
  margin: 0;
  padding: 0;
}

/* 주문 테이블 */
table {
  border-collapse: collapse;
}

th,
td {
  width: 1000px;
  border-top: 1px solid black;
  border-bottom: 1px solid gray;
  text-align: center;
}

caption {
  text-align: left;
}

/* 테이블 하단 */
.cart-details-wrap {
  border: 1px solid;
  display: flex;
  justify-content: space-between;
}
.cart-drop-wrap {
  border: 1px solid black;
}
.cart-drop-wrap > p {
  display: block;
}
.drop-item {
}
.cart-price-wrap {
}

.cart-price {
  width: 300px;
  height: 30px;
  border: 1px solid black;
}
